<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Add a dose <%= @cocktail.name %></h1>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, label: "Decription", placeholder: "Add your description"%>
        <%= f.input :amount, label: "Fullfill your dose amout", placeholder: "8cl" %>
        <%= f.submit "save", class: 'btn btn-success' %>
      <% end %>
      </div>
  </div>
</div>
